name: Main workflow
on: [push]
jobs:

  build:
    name: Check, Build and Publish snapshot artifacts 
    runs-on: ubuntu-18.04
    if: contains(github.event.head_commit.message, '[skip ci]') == false && contains(github.event.head_commit.message, '[ci skip]') == false
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14.x

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Check code style and calculate coverage 
        env:
          GO111MODULE: "on"
        run: |
          if [[ -n "$(gofmt -l .| grep -v ^vendor/)" ]]; then
            echo "Go code is not formatted:"
            gofmt -d .
            exit 1
          fi
          go vet `go list ./...`
          go vet -tags testnet -v `go list ./...`
          echo "" > "coverage.txt"
          for d in $(go list ./... | egrep -v 'mocks'); do
            go test -tags testnet -coverprofile=profile.out -covermode=atomic "$d"
            if [[ -f profile.out ]]; then
              cat profile.out >> "coverage.txt"
              rm profile.out
            fi
          done
          make clean build

      - uses: codecov/codecov-action@v1.0.10
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
          flags: unittests 
          name: codecov-umbrella
        if: success()
        
      - name: Build and Publish the Docker image to DockerHub
        # uses: gythialy/Publish-Docker-Github-Action@2.4
        uses: docker://goreng/publish-docker-github-action:v2.4
        with:
          name: qlcchain/go-qlc-test
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          dockerfile: docker/Dockerfile
          buildargs: BUILD_ACT=build-test
      
      - name: Build snapshot
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: |
          make snapshot
          mkdir -p artifact && cp dist/*.{tar.gz,zip,txt,sig} artifact/

      - name: Upload snapshot artifacts
        uses: actions/upload-artifact@2.1.0
        with:
          name: gqlc-artifact
          path: artifact/
